ЕИРЦ_Импортер/ConsoleApplication1/ConsoleApplication1/bin/
ЕИРЦ_Импортер/ConsoleApplication1/qwerty/
ЕИРЦ_Импортер/ConsoleApplication1/ConsoleApplication1/obj/
ЕИРЦ_Импортер/ConsoleApplication1/ConsoleApplication1/oraociei11.dll
